.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-right-05rem {
  margin-right: 0.5rem;
}

.register-input {
  width: 100%;
  min-width: 100px;
  max-width: 600px;
}

.register-input-field {
  width: 100%;
}
