<div class="container">
  <h2>About</h2>
  <p>This is a sample application to showcase actix-web-security rust crate.</p>

  <table class="table">
    <tbody>
    <tr>
      <td scope="row" colspan="4" class="row-without-padding-left"><h3>Web-App Logins</h3></td>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
    </tr>
    <tr>
      <td>1</td>
      <td>u1</td>
      <td>u1</td>
      <td>admin</td>
    </tr>
    <tr>
      <td>2</td>
      <td>u2</td>
      <td>u2</td>
      <td>user</td>
    </tr>
    <tr>
      <td>3</td>
      <td>u3</td>
      <td>u3</td>
      <td>user</td>
    </tr>
    <tr>
      <td colspan="4" class="row-without-bottom-line"></td>
    </tr>


    <tr>
      <td colspan="4" class="row-without-padding-left">
        <div>
          <h3>Keycloak Logins</h3>
          <a target="_blank" rel="noopener noreferrer" href="http://localhost:8080">Go to Keycloak</a>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col" colspan="2">Password</th>
    </tr>
    <tr>
      <td>1</td>
      <td>admin</td>
      <td colspan="2">secret</td>
    </tr>
    <tr>
      <td colspan="4" class="row-without-bottom-line"></td>
    </tr>


    <tr>
      <td colspan="4" class="row-without-padding-left">
        <div>
          <h3>pgAdmin Logins</h3>
          <a target="_blank" rel="noopener noreferrer" href="http://localhost:5433">Go to pgAdmin</a>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col" colspan="2">Password</th>
    </tr>
    <tr>
      <td>1</td>
      <td>administr@t.r</td>
      <td colspan="2">secret</td>
    </tr>
    </tbody>
  </table>

</div>
